*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* border: solid red; */
}
:root{
    scroll-behavior: smooth;
    --col1 : #ff999d;
    --col2 : #fa5551;

    --deg : 130deg;
    --g1 : linear-gradient(var(--deg), var(--col1), var(--col2));

    --col3 : #fbc79c;
    --col4 : #ffae4e;

    --g2 : linear-gradient(var(--deg), var(--col3), var(--col4));

    --col5 : #7fe1f7;
    --col6 : #4fc2e5;

    --g3 : linear-gradient(180deg, var(--col5), var(--col6));
    --g4 : linear-gradient(var(--deg), var(--col2), var(--col4), var(--col1));
    
    --trns : transparent;
    --ltg1: #f0f0f0;
    --ltg2: #adb1b4;
    --nbh : 5em;
    --lfbw : max(13em, 18vw); 
}
::-webkit-scrollbar{
    width: 0;
    display: none;
}
.loader{
    inset: 0;
    position: fixed;
    z-index: 4;
    display: flex;
    align-items: center;
    place-content: center;
    background: #fff;
    transition: .3s;
}
.loader.stop{
    opacity: 0;
    pointer-events: none;
    top: 2em;
}
body{
    min-height: 100vh;
    /* display: flex; */
    /* flex-direction: column; */
    /* align-items: center; */
}
.container{

}

.board{
    gap: 1em;
    min-height: calc(100vh - var(--nbh));
    padding: 1em;
    display: flex;
}
nav{
    display: grid;
    gap: 2em;
    margin: 0 1em;
    border-radius: 15px;
    background: #fff;
    grid-template-columns: repeat(4, 1fr);
    height: var(--nbh);
    align-items: center;
}

nav>div{
    display: flex;
    place-content: flex-start;
}

nav>div:last-child{
    place-content: center;
}
.logo{
    height: 4.9em;
    width: 12em;
}
.logo img{
    margin-top: -.5em;
    height: 7em;
    width: 100%;
}
.name{
    text-transform: capitalize;
    font-size: 1.2em;
    background: linear-gradient(130deg,rgb(35, 185, 255), rgb(255, 0, 208), orange);
    -webkit-background-clip: text;
    background-clip: text;
    color: var(--trns);
}

.srch{
    display: flex;
    align-items: center;
}
.srch input{
    outline: 0;
    border: solid 1px #e9e9e9;
    background: #fff;
    border-radius: 5px;
    font-weight: 500;
    font-size: 1em;
    width: 17em;
    padding: .2em .5em;
    height: 2.3em;
}

input::-webkit-search-cancel-button{
    display: none;
}
.srch input:hover{
    border-color: var(--col2);
}
.srch i{
    margin-left: -2.2em;
    border-radius: 4px;
    height: 2.45em;
    display: flex;
    place-content: center;
    align-items: center;
    width: 2em;
    font-size: .8em;
    transition: .5s;
}
.srch i:hover, .srch input:hover ~i{
    color: #fff;
    border-color: var(--col2);
    background: var(--g1);
}

.prof span{
    margin: 0 .37em;
    border-radius: 8px;
    place-content: center;
    display: flex;
    align-items: center;
    font-size: .85em;
    height: 2.5em;
    transition: .3s;
    width: 2.5em;
    border: solid .5px #ccc;
    position: relative;
}
.prof span img{
    height: 100%;
    border-radius: inherit;
    width: 100%;
}
.prof span:hover{
    color: #fff;
    background: var(--g1);
}
.prof .note::after{
  content: '';
  background: var(--col2);
  border-radius: 50%;
  height: .3em;
  width: .3em;
  position: absolute;
  top: .2em;
  box-shadow: 0 0 2px 2px #f5838776;
  right: .2em;
  animation: blink .8s linear infinite alternate;
}
.prof .note:hover::after{
    box-shadow: 0 0 2px 2px #fff8;
    background: #fff;
}
@keyframes blink{
    to{opacity: 0; box-shadow: none;}
}
.left_bar{
    position: fixed;
    height: calc(100vh - 6em);
    width: var(--lfbw);
    left: 0;
    display: flex;
    z-index: 3;
    background: #fff;
    flex-direction: column;
    place-content: space-between;
}
.menu{
    padding: .5em;
    /* background: #fff; */
    border-radius: 10px;
}
.menu ul{
    display: grid;
}
.menu ul li{
    cursor: pointer;
    list-style: none;
    padding: 1em;
    border-radius: 10px;
    margin: .25em 0;
    position: relative;
}

.menu ul li.act{
    background: var(--g1);
    color: #fff;
    box-shadow: 0 5px 7px #f58387c5, 0 10px 24px #f59b9ead;
}
.menu ul li::before{
    content: '';
    position: absolute;
    left: -.3em;
    top: 1.5em;
    width: .6em;
    height: .6em;
    background: var(--g1);
    scale: .5;
    opacity: 0;
    border-radius: 50%;
    transition: .5s;
}
.menu ul li:hover::before{
    scale: 1;
    opacity: 1;
    animation : popin .3s ease alternate
}
.menu ul li.act::before{
    background: #fff;
    height: 2em;
    top: .7em;
    border-radius: 5px;
}
@keyframes popin{
    0%, 100%{
        translate : -.1em 0;
    }
    25%{
        translate: -.5em 0;
    }
    50%{
        translate: .5em 0;
    }
    75%{
        translate: -.25em 0;
    }
}
.menu ul li span:first-child{
    height: 2em;
    width: 2em;
    margin-right: 1em;
    border-radius: 4px;
    padding: .3em;
}
.menu ul li span:last-child{
   text-transform: capitalize;
}
.logout{
    width: 7em;
    border-radius: 10px;
    padding: .4em .8em;
    margin-bottom: 1em;
    cursor: pointer;
    transition: .3s ease;
    color: #303030;
    background: #fff;
}
.logout i{
    margin-right: .75em;
}
.logout span{
    font-weight: 500;
}
.logout:hover{
    background: var(--g1);
    color: #fff;
}
.main{
    min-height: calc(100vh - var(--nbw));
    width: calc(100vw - (var(--lfbw) + 3.5em));
    border-radius: 15px;
    position: sticky;
    left: calc(var(--lfbw) + 3.5em);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(19em, 1fr));
    gap: 2.5em;
}
.main>div{
    height: 100%;
    border-radius: 17px;
    background: #fff;
}
.m1 .bg{
    border-radius: inherit;
    padding: .7em;
    cursor: pointer;
    background: var(--g1);
}
.bg .ovl{
    border-radius: 15px;
    width: 100%;
}
 .ovl .tp{
    background: #fff;
    display: flex;
    flex-direction: column;
    place-items: center;
    gap: 1em;
    padding-top: 2em;
    place-content: center;
    position: relative;
    border-radius: 15px 15px 0 15px;
}
.ovl .tp .pizza{
    width: 100%;
}
 .ovl .tp .pizza img{
    width: 100%;
}
.ovl .tp .nm{
    display: flex;
    padding: 0 2em 1em;
    justify-content: space-between;
    width: 100%;
}
.ovl .tp .nm span:last-child{
    font-size: .85em;
}
.logg{
    display: flex;
    font-size: .8em;
}
.logg img{
    width: 1.3em;
    margin-right: .5em;
    height: 1.3em;
}
 .ovl .tp .nm span:last-child{
    color: #5b5b5b;
    padding-right: .3em;
}
.ovl .btm{
    transition: .35s ease;
    display: flex;
    height: 6em;
    width: 100%;
    border-radius: 15px;
}
.ovl .btm:hover{
    background: #fff;
}
.ovl .btm:hover label{
    color: #000;
}
 .btm .custs{
    transition: .25s;
    border: solid 3px #fc6563;
    z-index: 2;
    border-left: 0;
    align-items: center;
    display: grid;
    width: 60%;
    padding: 0 .3em;
    border-bottom: 0;
    border-radius: 15px 15px 0 0;
}
.btm .custs label{
    color: #fff;
    font-size: .9em;
}
.btm .custs>div{
    margin-right: .3em;
    display: flex;
}
.btm .custs>div span{
   border-radius: 50%;
   height: 2.3em;
   width: 2.3em;   
   overflow: hidden;
   transition: .25s ease-in-out;
   border: 1.5px solid #fff;
}
.btm .custs>div span:hover{
    zoom: 1.05;
    z-index: 1;
}
.btm .custs>div span:hover img{
    scale: 1.18;   
}
.btm .custs>div span:not(:first-child){
    margin-left: -.5em;
}   
.btm .custs>div span img{
   height: 100%;
   border-radius: inherit;
   transition: .5s linear;
   width: 100%;
}
.m1 .bg .ovl .btm .splt_btn{
    background: #fff;
    width: 40%;
    position: relative;
    place-items: center;
    justify-content: space-between;
    flex-direction: column;
    display: flex;
    padding: 0 .65em .65em;
    border-radius: 0 0 15px 15px;
}
.m1 .bg .ovl .btm .splt_btn::before{
    position: absolute;
    content: '';
    height: 0;
    width: 0;
    border-top: 0;
    rotate: 45deg;
    border-right:  .55em solid var(--trns);
    border-left:  .55em solid var(--trns);
    border-bottom:  .55em solid #fff;
    top: -.1em;
    left: -.7em; 
    z-index: 1;
}
.m1 .bg .ovl .btm .splt_btn .prc{
    font-weight: 800;
    margin-top: -.7em;
}
.m1 .bg .ovl .btm .splt_btn button{
    background: var(--g3);
    border: 0;
    word-break: keep-all;
    font-size: .8em;
    max-height: 3em;
    width: 100%;
    border-radius: 7px;
    color: #fff;
    transition: .3s;
    box-shadow: 0 3px 5px #7fe1f785, 0 8px 20px #7fe1f77d;
    padding: 1em 0;
}
.btm .splt_btn button:hover{
    box-shadow: 0 3px 5px #7fe1f785;
    scale: .98;
}
.main>div h4{
    padding: 1.3em 0;
    font-weight: 500;
    background: linear-gradient(130deg,rgb(35, 185, 255), rgb(255, 0, 208));
    -webkit-background-clip: text;
    background-clip: text;
    color: var(--trns);
}
.sm>div{
    border: 1px solid #ccc;
    border-radius: 15px;
    padding: 1em;
}
.sm>div>span{
    display: flex;
    justify-content: space-between;
    padding: 0 1em;
}
.sm>div .cor{
    gap: 3.5em;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    padding: 1em 0;
    justify-content: center;
}
.sm>div .cor .meal{
    width: 6em;
    height: 6em;
}
.sm>div .cor .meal img{
    width: 100%;
    height: 100%;
}
.sm>div .cor .prf{
    gap: .5em;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.sm>div .cor .prf span{
    width: 2.1em;
    height: 2.1em;
    border-radius: 50%;
}
.sm>div .cor .prf span img{
    width: 100%;
    height: 100%;
    transition: .3s;
    border-radius: inherit;
}
.sm>div .cor .prf span:hover img{
    border: solid 1.4px var(--col1);
    animation: pulse 2s cubic-bezier(.4, 0, .6, 1) infinite;

}
.sm>div .nbf{
    display: flex;
    justify-content: space-between;
}
.sm>div .nbf>div{
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    width: 4.5em;
    gap: .3em;
    text-align: center;
    font-size: .7em;
    height: 4.5em;
    transition: .3s;
    margin-bottom: 2em;
    position: relative;
    -webkit-text-stroke-width: .2px;
    -webkit-text-stroke-color: #000;
    color: var(--trns);
}
.sm>div .nbf>div::after{
    content: attr(data-name);
    position: absolute;
    width: 100%;
    opacity: 0;
    z-index: -1;
    pointer-events: none;
    transition: .4s;
    bottom: 0;
    color: #5b5b5b;
}
.sm>div .nbf>div:hover::after{
    pointer-events: all;
    opacity: 1;
    bottom: -1.8em;
}
.sm>div .nbf>div img{
    width: 100%;
    height: 100%;
    transition: .3s linear;
   border-radius: inherit;
}
.sm>div .nbf>div:hover img{
  scale: 1.1;
}
.sm>div .sf{
    position: relative;
    margin: 1em 0;
    display: flex;
    justify-content: space-between;
}
.sm>div .sf input{
  outline: 0;
  border: 0;
  border-radius: 5px;
  padding: .7em  2.5em .7em;
  width: 85%;

}
.sm>div .sf i{
    position: absolute;
    width: 15%;
    top: .6em;left: 1em;
    font-size: .8em;
}
.sm>div .sf button{
  background: var(--col2);
  border-radius: 8px;
  padding: .4em .7em;
  font-size: 1em;
  transition: .3s;
  border: 0;
  color: #fff;
}
.sm>div .sf button:hover{
    color: var(--col2);
    border: solid 1px var(--col2);
    background: var(--trns);
}
.sm .parti{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.sm .parti h6{
    font-weight: 500;
    color: #5b5b5b;
}

.m2{
    /* border: solid red; */
}
.m2 .big{
}
.m2 .big>ul{
    border: 1px solid #ccc;
    border-radius: 15px;
    padding: 1em;
}
.m2 .big>ul li{
    max-height: 4em;
    display: flex;
    margin-top: 1.5em;
    align-items: center;
    list-style: none;
}
.m2 .big>ul li:first-child{
    margin-top: 0;
}
.m2 .big>ul li .per{
    border-radius: 50%;
    height: 2.4em;
   width: 2.4em;
   margin-right: 1em;
}
.m2 .big>ul li .per img{
   border-radius: inherit;
   height: 100%;
   width: 100%;
}
.m2 .big>ul li .rt{
    display: grid;
    width: 100%;
}
.m2 .big>ul li .rt span:last-child{
    /* margin-top: -.5em; */
    /* border: solid red; */
    position: relative;
}
.m2 .big>ul li .rt .nms{
    display: flex;
    font-size: .6em;
    justify-content: space-between;
}
.m2 .big>ul li .rt .nms .pname{
    font-weight: 500;
    color: #5b5b5b;
}
.m2 .big>ul li .rt>span{
    position: relative;
    /* overflow-x: hidden; */
}
.m2 .big>ul li .rt>span input{
   width: 100%;
   appearance: none;
   -webkit-appearance: none;
   background: transparent;
   margin: 0;
   padding: 0;
}
.m2 .big>ul li .rt span input:hover ~ output{
    opacity: 1;
    color: var(--col6);

}
.m2 .big>ul li .rt>span input::after{
    content: '';
    position: absolute;
    left: 0;
    z-index: 3;
    width: var(--vg);
    bottom: .485em;
    height: .485em;
    background: linear-gradient(90deg,#94e2ff,var(--col6));
    border-radius: 5px;
}
.m2 .big>ul li .rt span output{
    bottom: -1.5em;left: 0;
    transition: .25s;
    opacity: 0;
    position: absolute;
    font-size: .8em;
}
.m2 .big>ul li .rt span #st_p{
    justify-content: space-between;
    display: flex;
    border-radius: 10px;
    position: absolute;
    top: .747em;
    width: 100%;
    pointer-events: none;
}
.m2 .big>ul li .rt span #st_p span{
    height: .3em;
    background: #d7d7d7;
    border-radius: 50%;
    width: .3em;
}

.m2 .big>ul li .rt span input::-webkit-slider-runnable-track{
    background: #eaeaeb;
    border-radius: 5px;
    height: .5em;
}
.m2 .big>ul li .rt span input::-webkit-slider-thumb{
    -webkit-appearance: none;
    appearance: none;
    height: .5em;
    position: sticky;
    z-index: 2;
    transition: .3s;
    width: .5em;
    border-radius: 50%;
    box-shadow:  0 0 1px 2px #00befd51;
    background: var(--col6);
    cursor: ew-resize;
}
.m2 .big>ul li .rt span input:hover::-webkit-slider-thumb{
    box-shadow:  0 0 1px 5px #00befd51;
}
.m2 .big>ul .bill{
    border-radius: 10px;
    transition: .3s;
    margin-top: 2.5em;
    align-items: center;
    place-content: space-between;
    display: flex;
    padding: .5em;
    background: var(--g3);
    box-shadow:  0 9px 12px #3fbbf463;
    position: relative;
    flex-direction: row-reverse;
}
.m2 .big>ul .bill button{
    position: absolute;
    border-radius: 10px;
    background: var(--g3);
    padding: .7em 0;
    width: 11em;
    height: 3em;
    font-weight: 600;
    color: #fff;
    border: 0;
    left: .25em;
    box-shadow: 0 4px 6px #00000050;
    transition: .3s;
}
.m2 .big>ul .bill:hover{
}
.m2 .big>ul .bill button:hover{
    /* transition-delay: .5s; */
    left: 10%;
}
.m2 .big>ul .bill span{
    font-weight: 900;
    zoom: 2;
    place-content: center;
    display: flex;
    color: #fff;
    margin-right: .8em;
}
.m2 .big>ul .bill span i{
    width: .35em;
}
.fr0{
    opacity: .1;
    scale: .6;
}
.fr1{
    opacity: .2;
    scale: .7;
}
.fr2{
    opacity: .4;
    scale: .75;
}
.fr3{
    opacity: .6;
    scale: .8;
}
.fr4{
    opacity: .8;
    scale: .85;
}
.fr5{
    scale: .9;
}
.fr6{
    scale: .95;
}
.m3 .bg{
    border-radius: 15px;
    padding: 1em;
    border: solid 1px #ccc;
}
.m3 .bg .top{
    display: flex;
    place-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.m3 .bg .top .me{
    width: 7em;
    height: 7em;
    padding: .25em;
    border-radius: 50%;
    margin: 1.3em 0; 
    transition: .3s;
    border: solid .1em var(--col4);
}
.m3 .bg .top .me:hover{
    border: 0;
}
.m3 .bg .top .me:hover img{
    animation: pull-in 1s cubic-bezier(1, 0, .3, 2) alternate infinite;
}
@keyframes pull-in{
    75%, 100%{
        scale: 1.2;
        filter: brightness(1.05) contrast(1);
        border: solid .1em var(--col6);
    }
}
.m3 .bg .top .me img{
    height: 100%;
    width: 100%;
    filter: brightness(.8);
    border-radius: inherit;
}
.m3 .bg .top .dets h5{
    font-weight: 400;
}
.dets p{
    font-size: .8em;
    font-weight: 400;
}
.dets p em{
    color: var(--col4);
    padding: 0 .2em;
}
.dwn{
    margin-top: 1.2em;
    display: grid;
}
.dwn>div{
    padding: .2em 0;
    display: flex;
    place-content: space-between;
}
.dwn>div span{
    font-size: .8em;
}
.dwn>div span:first-child{
    color: #5b5b5b;
}
.dwn>div span:last-child{
    font-weight: 500;
    transition: .3s;
    cursor: pointer;

}
.dwn>div span:last-child:hover{
    animation: ping 3s cubic-bezier(0, 0, .2, 1) infinite;
}
.dwn>div:nth-child(3) span:last-child{
    transition: .3s;
   color: var(--col2);
}

.dwn>div:nth-child(3) span:last-child:hover{
    animation: bounce 1s cubic-bezier(.5, 0, .5, 1) infinite;

}
.dwn>span{
    display: flex;
    margin-top: 1em;
    place-content: space-between;
}
.dwn button{
    width: 8.5em;
    height: 2.8em;
    padding: .5em 0;
    border: 0;
    border-radius: 5px;
    transition: .25s;
    color: #fff;
}
.dwn .decl{
    background: var(--g1);
    box-shadow: 0 5px 7px #f58387c5, 0 10px 24px #f59b9ead;

}
.dwn .acpt{
    box-shadow: 0 5px 7px #83c6f5c5, 0 10px 24px #83c6f597;
    background: var(--g3);
}
.dwn button:hover{
    background: hsl(0, 0%, 100%);
    border: solid .1px var(--this-c);
    color:  var(--this-c);
    box-shadow: 0 0 4px 1px var(--this-c);
}
.dwn .acpt:hover{
    animation: bounce .4s cubic-bezier(0, 0, .2, 1) infinite;
}
.dwn .decl:hover{
    animation: decline .5s cubic-bezier(1, 0, .4, 1) alternate;
}

@keyframes ping{
    75%, 100%{
        scale: 2;
        opacity: 0;
    }

}

@keyframes pulse{
    50%{
        opacity: .5;
    }
}

@keyframes bounce{
    0%, 100%{
        transform: translateY(-15%);
        animation-timing-function: cubic-bezier(.8,0,1,1);
    }
    50%{
        transform: none;
        animation-timing-function: cubic-bezier(0,0,.2,1);
    }
}
@keyframes decline{
    0%, 100%{translate: -.25em 0;}
    25%{translate: .2em 0}
    50%{translate: -.22em 0}
    75%{translate: .27em 0}
}
    
.m3 .sec{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 1em;
}
    
.m3 .sec .lft p{
    font-size: .75em;
    color: #5b5b5b;
}
.m3 .sec .lft h3{
    font-size: .8em;
}
.m3 .sec .lft .grp{
    margin: .3em 0;
    display: flex;
}
.m3 .sec .lft .grp img{
    border-radius: 50%;
    height: 3em;
    background: #fff;
    border: solid 1.5px #fff;
    width: 2.8em;
}
.m3 .sec .lft .grp img:hover{
    z-index: 1;
    animation: decline .6s cubic-bezier(1, 0, .4, 1) alternate infinite;

}
.m3 .sec .lft .grp img:not(:first-child){
    margin-left: -1em;
}
.m3 .sec .rgt{
    height: 5em;
    width: 5em;
    position: relative;
    scale: .9;
}
.m3 .sec .rgt .out{
   width: 5em;
   height: 5em;
   padding: .55em;
   box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
               -6px -6px 10px -1px rgb(255, 255, 255, .7);
   border-radius: 50%;
}
.m3 .sec .rgt .out .in{
    height: 3.85em;
    width: 3.85em;
    border-radius: 50%;
    display: flex;
    align-items: center;
    place-content: center;
    flex-direction: column;
    box-shadow:  inset 4px 4px 6px -1px rgb(0,0,0,.2),
                 inset -4px -4px 6px -1px rgb(255, 255, 255, .7),
                 -.5px -.5px 0 #fff, .5px .5px 0 rgb(0,0,0,.15),
                 0 12px 10px -10px rgb(0,0,0,.05);
}

.m3 .sec .rgt .out .in p{
    font-size: .65em;
    margin-top: -.25em;
}
.m3 .sec .rgt .out .in h3{
  font-size: .8em;

}
circle{
    stroke: var(--url);
    fill: none;
    transition: .8s ease-in-out;
    stroke-width: .6em;
    stroke-dashoffset: calc((1 - var(--per)) * 2 * 3.1415 * 35);        
    stroke-dasharray: 0;
    animation: fil 4s linear forwards;
    transform-origin: center;
    rotate: 320deg;

}
.c2{
    rotate: 274deg;
}

svg:hover circle{
    animation: swing .5s linear infinite;
}
svg{
    position: absolute;
    left: 0;
    top: 0;
}
@keyframes fil{
    100%{
        stroke-dasharray: 220;
    }
}

@keyframes swing{
    to{rotate: 720deg;}
}

.faq>div{
    border: solid 1px #ccc;
    border-radius: 15px;
    padding: .5em;
    position: relative;
}
.faq ul li{
    list-style: none;
    transition: .3s;
    cursor:default;
}
.faq ul li .que{
    padding: .5em 0;
    transition: .3s;
    font-size: .8em;
    display: flex;
    place-content: space-between;
    font-family: 'Open Sans';
    font-weight: 600;
}
.faq ul li .que>nobr{
    overflow: hidden;
    text-overflow: ellipsis; 

}
.faq ul li .que i{
    margin-right: .5em;
    transition: .3s;
    display: block;
}
.faq ul li:hover i{
    rotate: 180deg;
    color: var(--col6);
}
.faq ul li .res{
    font-size: .8em;
    display: grid;
    border-radius: 8px 8px 0 0;
    transition: .2s;
    grid-template-rows: 0fr;
}

.faq .res p{
    overflow: hidden;
    color: navy;
    font-weight: 500;
}
.faq ul li:hover .res{
    padding: 8px;
    grid-template-rows: 1fr;
}
.faq ul li:hover{
    border-bottom: solid 1px #4100c3;
}
.faq ul li:hover .que{
    background: linear-gradient(130deg,rgb(35, 185, 255), rgb(255, 0, 208));
    -webkit-background-clip: text;
    background-clip: text;
    color: var(--trns);
    font-size: .95em;
}

.to_top{
    border-radius: 50%;
    height: 2.5em;
    width: 2.5em;
    position: fixed;
    right: 2em;
    bottom: 2em;
    color: #fff;
    display: flex;
    align-items: center;
    place-content: center;
    text-decoration: none;
    background: linear-gradient(130deg,rgb(35, 185, 255), rgb(255, 0, 208));
    box-shadow: 0 3px 5px #0000006f;
    overflow: hidden;
    transition: .25s;
    animation: bounce .4s cubic-bezier(0, 0, .2, 1) infinite;
    opacity: .5;
}
.to_top:hover, .to_top:active{
    opacity: 1;
    animation: none;
}
.to_top:hover i, .to_top:active i{
    background: #fff;    
    color: #0077ff; 
    transition-delay: 1s;
}
.to_top i{
    transition: .3s;
    width: 1.45em;
    height: 1.45em;
    text-align: center;
    display: flex;
    align-items: center;
    place-content: center;
    border-radius: 50%;
    font-size: 1.6em;
}
